body{

margin:0;

font-family:Arial;

background:#101010;

color:white;

}

header{

display:flex;

align-items:center;

padding:15px;

background:#181818;

}

header h2{

margin:auto;

}

#menuBtn{

background:none;

border:none;

font-size:28px;

color:white;

cursor:pointer;

}

#sidebar{

position:fixed;

left:-240px;

top:0;

width:220px;

height:100%;

background:#1b1b1b;

transition:.4s;

padding-top:70px;

}

#sidebar a{

display:block;

padding:18px;

text-decoration:none;

color:white;

}

#sidebar a:hover{

background:#333;

}

.search{

padding:20px;

}

.search input{

width:100%;

padding:15px;

border-radius:10px;

border:none;

font-size:16px;

}

.server{

background:#1d1d1d;

margin:20px;

padding:20px;

border-radius:15px;

box-shadow:0 0 15px black;

}

.server button{

background:#00bfff;

border:none;

padding:12px;

border-radius:10px;

color:white;

cursor:pointer;

width:100%;

margin-top:10px;

}
